body {
   background-color: black;
   
   width: 400px;
}

.topbar {
   width: 100%;
   height: 30px;
   background-color: rgb(55, 4, 166);
}

header {
   height: 80px ;
   width: 100%;
   background-color: rgba(74, 17, 153, 0.873);
   color: white;
}

.nav {
   padding-top: 23px;
   padding-left: 15px;
   padding-right: 15px;
   display: flex;
   flex-direction: row;
   gap: 10px;
   justify-content: space-between;
   align-items: center;
}

.contacts {
   font-size: 20px;
   font-family: copperplate;
   padding-right: 100px;
}

.inputs {
  width: 100%;
  height: 500px;
  background-color: rgb(4, 4, 4);
  text-align: left;
  padding-top: 30px; 
  line-height: 30px;
  text-align: center;  
}

.name {
   width: 75%;
   height: 35px;
   border-top: none;
   border-radius: 5px;   
}

.phone {
  
   width: 160px;
   height: 35px;
   border-radius: 5px;
   background-color: lightgray;
}

.phone2 {
   width: 130px;
   height: 35px;
   border-radius: 5px;
   background-color: lightgray;
}


.add {
   height: 35px;
   width: 75%;
   border-radius: 5px;
   
}

.city {
   width: 75%;
   height: 35px;
   border-radius: 5px;
   margin-left: 35px;
   background-color: lightgray;
}

.email {
   width: 75%;
   height: 35px;
   border-radius: 5px;
   background-color: lightgray;
}

.state1 {
   margin-left: 34px;
   height: 43px;
   width: 130px;
}

.state2 {
   width: 130px;
   height: 35px;
   margin-left: 43px;
   border-radius: 5px;
}

.birth {
   border-radius: 5px;
   width: 75%;
   height: 35px;
   
}

 
 i { 
   color: white;
   margin-right: 20px;
   margin-right: 
   color: rgb(137, 134, 134);
}